<a href="https://colab.research.google.com/github/MpRonald/Deep-Learning/blob/main/Deep_Learning_Pyorch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [75]:
# imports
import pandas as pd
from sklearn.model_selection import train_test_split

In [76]:
URL = 'https://raw.githubusercontent.com/alura-cursos/Primeiros_passos_pytorch/main/sementes.csv'
data = pd.read_csv(URL)
data.head()

    Área  Perímetro  Compacidade  ...  Assimetria  Comprimento do sulco  Espécie
0  15.26      14.84      871.000  ...       2.221                 5.220        0
1  14.88      14.57        8.811  ...       1.018                 4.956        0
2  14.29      14.09      905.000  ...       2.699                 4.825        0
3  13.84      13.94        8.955  ...       2.259                 4.805        0
4  16.14      14.99        9.034  ...       1.355                 5.175        0

[5 rows x 8 columns]

Essa tabela possui sete colunas com informações sobre a semente e uma coluna que identifica a espécie da semente. A semente pode ser da espécie 0, 1 ou 2.

O objetivo do nosso algoritmo de machine learning é aprender com essa tabela de dados. Assim, quando passarmos novos valores de Área, Perímetro, Compacidade e etc o algoritmo será capaz de retornar um valor de Espécie da semente. É comum chamarmos as colunas que contém as informações de entrada de X. Já a coluna que é nosso alvo de identificação chamamos de y. Podemos separar os dados em X e y através dos comandos:

In [77]:
# renomeando colunas
data.columns

Index(['Área', 'Perímetro', 'Compacidade', 'Comprimento', 'Largura',
       'Assimetria', 'Comprimento do sulco', 'Espécie'],
      dtype='object')

In [78]:
data.columns = ['area', 'perimetro', 'compacidade', 'comprimento', 'largura',
       'assimetria', 'comprimento_sulco', 'especie']

In [79]:
data.head()

    area  perimetro  compacidade  ...  assimetria  comprimento_sulco  especie
0  15.26      14.84      871.000  ...       2.221              5.220        0
1  14.88      14.57        8.811  ...       1.018              4.956        0
2  14.29      14.09      905.000  ...       2.699              4.825        0
3  13.84      13.94        8.955  ...       2.259              4.805        0
4  16.14      14.99        9.034  ...       1.355              5.175        0

[5 rows x 8 columns]

In [80]:
X = data.drop(['especie'], axis=1).values
y = data['especie'].values

In [81]:
X

array([[ 15.26 ,  14.84 , 871.   , ...,   3.312,   2.221,   5.22 ],
       [ 14.88 ,  14.57 ,   8.811, ...,   3.333,   1.018,   4.956],
       [ 14.29 ,  14.09 , 905.   , ...,   3.337,   2.699,   4.825],
       ...,
       [ 13.2  ,  13.66 ,   8.883, ...,   3.232,   8.315,   5.056],
       [ 11.84 ,  13.21 ,   8.521, ...,   2.836,   3.598,   5.044],
       [ 12.3  ,  13.34 ,   8.684, ...,   2.974,   5.637,   5.063]])

In [82]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

Em problemas supervisionados de machine learning nós precisamos construir um modelo que consiga generalizar um problema. Após o treinamento, um modelo adequado deve conseguir fazer boas estimativas tanto em dados que ele viu durante o treinamento quanto em dados que não viu durante o treino. Por este motivo, vamos separar a base de dados em duas partes. Uma parte para treino e outra para teste. O teste nós vamos guardar para depois, para verificar se o modelo retorna bons resultados.

Para dividir os dados em treino e teste vamos usar a biblioteca scikit-learn. Apesar deste ser um tutorial de Pytorch a forma como esse processo é feito com a scikit-learn é mais intuitivo.

In [83]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

Assim, temos 20% dos dados separados para o teste. Os outros 80% ficam para o treino. Essa porcentagem foi escolhida de forma arbitrária. Não existe uma regra muito bem definida para a escolha, mas normalmente é deixada uma porcentagem maior para o treino e menor para o teste. Agora finalmente podemos importar a biblioteca torch. Além disso, vamos transformar os arrays do numpy Xtreino,X_teste,y_treino,y_teste em tensores.

In [84]:
import torch
X_treino = torch.FloatTensor(X_train)
X_teste = torch.FloatTensor(X_test)
y_treino = torch.LongTensor(y_train)
y_teste = torch.LongTensor(y_test)

Com isto, podemos criar um modelo de rede neural. Por isso, vamos importar o módulo de redes neurais nn e o functional para que possamos chamar as funções de ativação.

In [85]:
import torch.nn as nn
import torch.nn.functional as F

A nossa rede neural possui sete entradas e três saídas. Essas são respectivamente as colunas de X e o número de classes possíveis que temos em y. Além disso, foram adicionadas duas camadas escondidas, uma com 14 neurônios e outra com 49 neurônios. O número de neurônios das camadas escondidas foi escolhido de forma arbitrária. Para criar a estrutura da rede definimos uma classe que dei o nome de Modelo. Dentro da classe modelo definimos o init que vai iniciar a estrutura da rede.

In [86]:
class Model(nn.Module):
  def __init__(self, input=7, hidden_layer_1=14, hidden_layer_2=49, output=3):
    super().__init__()
    self.fc1 = nn.Linear(input,hidden_layer_1)
    self.fc2 = nn.Linear(hidden_layer_1, hidden_layer_2)
    self.out = nn.Linear(hidden_layer_2, output)

  def forward(self, x):
    x = F.relu(self.fc1(x))
    x = F.relu(self.fc2(x))
    x = self.out(x)
    return x

In [91]:
# Precisamos instanciar a rede criada através do comando:
clf_model = Model()
clf_model

Model(
  (fc1): Linear(in_features=7, out_features=14, bias=True)
  (fc2): Linear(in_features=14, out_features=49, bias=True)
  (out): Linear(in_features=49, out_features=3, bias=True)
)

Além de definir a rede neural, precisamos verificar se a rede está levando a entrada para um resultado próximo da saída desejada. Nós fazemos isso através de uma função objetivo ou função de custo:

In [88]:
object_function = nn.CrossEntropyLoss()

Na primeira tentativa, a rede neural não irá obter uma saída satisfatória. Isso acontece porque os pesos que ligam cada um dos neurônios são definidos de forma aleatória. Por isso, precisamos fazer a correção desses pesos. O otimizador que será utilizado nesse processo é definido por:

In [89]:
optimizer = torch.optim.Adam(clf_model.parameters(), lr=0.01)

Finalmente vamos treinar a rede neural. O processo de propagação e retropropagação será repetido por 100 épocas. Assim, esperamos corrigir os pesos para obter uma rede que transforma corretamente a entrada em uma previsão da classe da semente.

In [103]:
clf_model = Model()
object_function = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(clf_model.parameters(), lr=0.01)
epochs = 100
custos = []
for i in range(epochs):
  y_pred = clf_model.forward(X_treino)
  custo = object_function(y_pred, y_treino)
  custos.append(custo)
  

  optimizer.zero_grad()
  custo.backward()
  optimizer.step()

Por fim, podemos tentar prever valores de y passando como entrada o X_teste. Assim temos como comparar o Y e o YHat que é o valor estimado. Aqui estão as dez primeiras linhas da minha tabela de resultado. A última coluna da tabela retorna 1 para estimativas corretas e zero para as incorretas.

In [104]:
predict = []
with torch.no_grad():
    for val in X_teste:
        y_pred = clf_model.forward(val)
        predict.append(y_pred.argmax().item())
dataset = pd.DataFrame({'Y': y_teste, 'YHat': predict})
dataset['Correto'] = [1 if corr == pred else 0 for corr, pred in zip(dataset['Y'], dataset['YHat'])]
dataset

    Y  YHat  Correto
0   1     1        1
1   1     1        1
2   2     2        1
3   1     1        1
4   0     0        1
5   0     0        1
6   1     1        1
7   1     1        1
8   2     2        1
9   2     2        1
10  0     0        1
11  0     0        1
12  0     0        1
13  0     1        0
14  1     1        1
15  1     1        1
16  1     1        1
17  2     2        1
18  0     0        1
19  2     2        1
20  2     2        1
21  2     2        1
22  2     2        1
23  2     2        1
24  0     1        0
25  2     2        1
26  0     0        1
27  2     2        1
28  2     0        0
29  1     0        0
30  1     1        1
31  0     0        1
32  1     1        1
33  1     1        1
34  0     1        0
35  2     2        1
36  2     2        1
37  1     1        1
38  2     2        1
39  1     1        1
40  2     0        0
41  1     1        1